@charset "UTF-8";
.abc {
  --color:red;
}

/*------------- text ------------------*/
/* ------------- background ------------- */
/*----------------- mixin (hàm) ----------------*/
.abc {
  --color:red;
}

/*------------- text ------------------*/
/* ------------- background ------------- */
/*----------------- mixin (hàm) ----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header .container .row {
  background-color: black;
  padding: 15px;
}
.header .container .row .logo {
  max-width: 100%;
}
.header .container .row .header-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .container .row .header-link i {
  margin-right: 5%;
  color: white;
}
.header .container .row .header-link a {
  margin-right: 5%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #F6F6F6;
}
.header .container .nav-header {
  padding: 15px;
}
.header .container .nav-header a {
  text-decoration: none;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 2%;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.carousel-slide .slick-prev {
  line-height: 0;
  left: 10px;
  top: 150px;
  display: block;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 1;
  text-shadow: -1px 10px 7px rgba(205, 206, 200, 0.69);
}
.carousel-slide .slick-next {
  line-height: 0;
  left: 93.3%;
  top: 150px;
  display: block;
  padding: 0;
  text-shadow: -1px 10px 7px rgba(205, 206, 200, 0.69);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1;
}
.carousel-slide .slick-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0d9";
  font-weight: 900;
  font-size: 100px;
  color: white;
}
.carousel-slide .slick-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  font-size: 100px;
  font-weight: 900;
  color: white;
}
.carousel-slide .slick-dots{
  width: 0%;
  display: flex;
}
.carousel-slide .slick-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 600px;
  width: 15px;
  height: 15px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: transparent;
  border: 1px solid gray;
  background-color: white;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.carousel-background {
  position: relative;
}
.carousel-background .carousel-product {
  position: absolute;
  top: 1px;
}
.carousel-background .carousel-product .row {
  align-items: center;
}
.carousel-background .carousel-product .row .img-carousel img {
  margin-left: 20%;
  max-width: 100%;
}
.carousel-background .carousel-product .row .text-carousel .text-carousel-item {
  margin-left: 45%;
  max-width: 100%;
}
.carousel-background .carousel-product .row .text-carousel .text-carousel-item h3 {
  font-size: 40px;
  font-weight: 300;
  color: #000;
}
.carousel-background .carousel-product .row .text-carousel .text-carousel-item h4 {
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
.carousel-background .carousel-product .row .text-carousel .text-carousel-item .btn-carousel {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background: #F8B653;
  border: 0;
  border-radius: 0;
  padding: 2%;
  cursor: pointer;
  width: 150px;
}
.carousel-background .carousel-product .row .text-carousel .text-carousel-item .btn-carousel:hover {
  color: #fff;
  background: #F8B653;
}

.product {
  background-color: #fffcfc;
}
.product .container {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}
.product .container .row {
  align-items: center;
}
.product .container .row .product-item {
  background-color: #f8f8f8;
  padding: 15px;
  max-width: 100%;
}
.product .container .row .product-item img {
  width: 100%;
}
.product .container .row .product-item h3 {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  text-align: left;
}
.product .container .row .product-item h4 {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
}
.product .container .row .product-item .product-buy .btn-product {
  height: 56px;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  line-height: 55px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background: #F8B653;
  border: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}
.product .container .row .product-item .product-buy .btn-product:hover {
  color: #fff;
  background: #F8B653;
}
.product .container .row .product-item .product-buy p {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  background-color: #dedddc;
  padding: 10px;
  margin-top: 22px;
}

.footer .container .row .img-footer img {
  max-width: 100%;
}

@media only screen and (max-width: 576px) {
  .product .container .row .product-item .product-buy p {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    background-color: #dedddc;
    padding: 10px;
    margin-top: 22px;
  }
  .carousel-background .carousel-product .row .text-carousel .text-carousel-item {
    margin-left: 20%;
  }
  .carousel-background .carousel-product .row .text-carousel .text-carousel-item h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }
  .carousel-background .carousel-product .row .text-carousel .text-carousel-item h4 {
    font-size: 18px;
    font-weight: 300;
    color: #000;
  }
  .carousel-slide .slick-prev::before {
    display: none;
  }
  .carousel-slide .slick-next::before {
    display: none;
  }
  .carousel-slide .slick-dots li button:before {
    font-family: "slick";
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 135px;
    width: 15px;
    height: 15px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: transparent;
    border: 1px solid gray;
    background-color: white;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
}
@media only screen and (max-width: 280px) {
  .logo {
    max-width: 100%;
  }
  .logo img {
    width: 105%;
  }
  .header .container .nav-header a {
    text-decoration: none;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
  }
}