@import "../themes/virable";
@import "../base/base";
.form-left,.form-right{
  max-width: 100%;
  padding:15px
}
#email,#password,#passwordConfirm,#name,#phone{
    @include input(6px,solid ,#AE18E2,0,0,0);
    width: 100%;
    line-height: 50px;
    margin-top: 5%;
}
::placeholder {
  @include text($fs-xl,$fw-normal,$text-c0-dark); 
  }

.btnSubmit{
    @include button($fs-3xl,$fw-normal,$text-c3-light,$text-c0-purple,0,0,0,$text-c3-light,$text-c0-purple);
    height: 50px;
    width: 291px;
    margin-top:12px

}
.btnSubmit:disabled{
    opacity: 0.5;
}
input:focus{
    outline: none
}

// .gender__title{
//     @include text($fs-3xl,$fw-normal,$text-c0-dark);
//     margin-top:12px
// }
// .category{
//     margin-top:12px;
//     .male,.female{
//         @include text($fs-3xl,$fw-normal,$text-c0-dark);
    
//     }
// }
// // .gender__details .category {
// //    margin-left: 0px;
// //   }
  
//   // .gender__details .category label {
//   //   display: flex;
//   //   align-items: center;
//   // }
//   .gender__details{
//     display: flex;
//     width: calc(100%/3);
//   }
//   label{
//     display: block;
//   }
//   .dot {
    
//     background: gray;
//     border-radius: 50%;
//     border: 5px solid transparent;
//     transition: all 0.3s ease;
//     width: 30px;
//     height: 30px;
   
//   }

 
//   #dot-1:checked ~ .one,
//   #dot-2:checked ~ .two
//    {
//     border-color: gray;
//     background: purple;
//     width: 20px;
//     height: 20px;
    
//   }
  
// input[type="radio"] {
//     display: none;
//   }
.checked{
  display: flex;
	

	align-items: center;
	font-size: 1.5rem;
	margin-top: 5%;
	gap: 0.9rem;
  
 
}
label{
  @include text($fs-xl,$fw-normal,$text-c0-dark);
  
}
input, label {
	cursor: pointer;
}

input[type='radio'] {
	display: flex;
	appearance: none;
	background: linear-gradient(#777, #888);
	height: 20px;
	width: 20px;
	box-shadow: 
		0 2px 2px 1px fade(black, 20) inset,
		0 1px 1px 1px fade(white, 20);
	&::after {
		color: transparent;
		text-shadow: 0 0 0 transparent;
		margin: auto;
		&:hover {
			box-shadow: 
        0 0 2px 0 #AE18E2, 0 0 2px 1px fade(black, 25), 
				0 0 1px 0 #AE18E2 inset, 0 0 2px 1px fade(black, 35) inset;
			transition: all 200ms ease-in;
		}
	}
		
	&:checked::after {
    color: #AE18E2;
		text-shadow: 2px 3px 2px fade(black, 20);
		transition: all 200ms ease-in;
	}
}



[type='radio'] {
	border-radius: 50%;
	&::after {
		content: '';
		border-radius: 50%;
		background: transparent;
		font-size: 1.5rem;
		flex-basis: 50%;;
		height: 50%;
		background: fade(black, 5);
	}
	
	&:checked{
		box-shadow: 
			0 0 2px 0 #0C0, 0 0 2px 1px fade(black, 25), 
			0 0 1px 0 #0C0 inset, 0 0 2px 1px fade(black, 35) inset;
		&::after {
			// background: #0A0;
      background: #AE18E2;
			transition: all 200ms ease-in;
		}
	}
}
.footer{
    margin-top: 10%;
}
@media only screen and (max-width:280px ){
  .btnSubmit {
    font-size: 30px;
    font-weight: 400;
    color: #fffcfc;
    background: #ae18e2;
    border: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    height: 50px;
    width: 225px;
    margin-top: 12px;
  }
.checked{
  display: block;
}

}

